@model Projeto.Presentation.Models.ClienteEdicaoViewModel
@{
    ViewBag.Title = "Edicao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edicao de cliente</h2>

@using (Html.BeginForm("AtualizarCliente", "Cliente", FormMethod.Post))
{

    <label>Código do Cliente:</label>
    @Html.TextBoxFor(model => model.IdCliente,
        new { @class = "form-control col-md-4", @readonly = "readonly" })
    <br />

    <label>Nome:</label>
    @Html.TextBoxFor(model => model.Nome,
            new { @class = "form-control col-md-4", placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Nome)
    </div>
    <br />
    <label>Email:</label>
    @Html.TextBoxFor(model => model.Email,
            new { @class = "form-control col-md-4", placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <br />
    <label>CPF:</label>
    @Html.TextBoxFor(model => model.CPF,
            new { @class = "form-control col-md-4", placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.CPF)
    </div>
    <br />
    <label>Nascimento:</label>
    @Html.TextBoxFor(model => model.Nascimento,
            new { @class = "form-control col-md-4", placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Nascimento)
    </div>
    <br />
    <label>CNPJ:</label>
    @Html.TextBoxFor(model => model.CNPJ,
            new { @class = "form-control col-md-4", placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.CNPJ)
    </div>
    <br />
    <label>Endereço:</label>
    @Html.TextBoxFor(model => model.Endereco,
            new { @class = "form-control col-md-4", placeholder = "Digite aqui" })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.Endereco)
    </div>
    <br />

    <input type="submit" value="Atualizar cliente"
           class="btn btn-primary" />
    <br />
    <br />

    <strong>@ViewBag.Mensagem</strong>
}